{% extends 'base.html.twig' %}

{% block title %}Novo usuario{% endblock %}

{% block body %}
    <h1>Cadastre um novo usuario</h1>

    {{ include('user_form/_form.html.twig') }}

    <a href="{{ path('user_form_index') }}">voltar para lista</a>
{% endblock %}
